*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

/*global*/

a{
    text-decoration: none
}
input[type="file"]::-webkit-file-upload-button{
    border: none;
    cursor: pointer;
    border: 2px solid dodgerblue;
    padding: 0.8rem;
    background: transparent;
    color: #fff
}

/*buttons */

.btn-secondary{
    color: #ddd;
    border: 2px solid rgb(194, 191, 191);
    padding: 1rem;
}

.btn-primary{
    border: none;
    background: rgba(0, 0, 22, 0.87);
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
}

.btn-default{
    color: rgba(0, 0, 22, 0.87);
    border: 2px solid dodgerblue;
    background: transparent;
    cursor: pointer;
    padding: 0.7rem;
}
.btn-danger{
    background: red;
    padding: 1rem;
    color:#ddd;
    cursor:pointer;
    border:none;
    margin: 5px;
}

/*navbar */
header{
    background: rgba(0, 0, 22, 0.87);
}
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 22);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.4s all ease-in-out; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;
    color: #ddd;
    display: block;
     transition: 0.3s all ease-in;
     border-top: 1px solid #fff;
     border-bottom: 1px solid #fff;
     margin: 2.5rem 0rem 2.5rem 0rem;
    
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top:0;
    right: 20px;
    font-size: 3rem;
    margin-left: 30px;
    border: none;
  }
  
  /* The button used to open the sidebar */
  .openmenu {
    font-size: 1.4rem;
    cursor: pointer;
    background-color: inherit;
    color: white;
    padding: 10px 15px;
    border: none;
    outline: none;
  }
  
  .openmenu:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
.sidebar .active{
    border-top: 1px solid dodgerblue;
    border-bottom: 1px solid dodgerblue;
}


/*landing page */
.header{
    background-size:cover;
    background-position: center;
    background: linear-gradient(to right, rgba(1, 1, 66, 0.479), rgba(1, 1, 54, 0.534), rgba(0, 0, 68, 0.554)), url('../images/auto-auto-racing-automobile-235222.jpg') no-repeat;
    height: 100vh;
    padding: 1rem;
}
.logo{
    font-size: 2rem;
    margin: 0 0 8px 8px;
    color: #ddd;
    
}
/*Big-text*/

.big-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
}
.big-text h1{
    font-size: 50px;
    color: #ddd;
}

.big-text .btn-secondary{
    font-size: 30px;
    margin: 30px;
    padding: 1.3rem;
    border-radius: 5px;
    transition: all 2s;
}
.big-text .btn-secondary:hover{
    border: 3px solid dodgerblue;
    color: dodgerblue
}

/*account form */
.account{
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #333;
    padding: 2.5rem;
    height: auto;
    width: 400px;
    font-size: 15px;
}
.input-labels{
    display:flex;
    flex-direction: column;
    margin: 5px;
    
}
.others a, .icon {
    color: dodgerblue;
}
legend{
    font-size: 25px;
    font-weight: bold;
    padding: 0.8rem auto
}
hr{
    width: 100%;
    color: rgba(0, 0, 22, 0.87);
}

.input-labels input {
    margin: 8px;
    font-size: 1rem;
    padding: 0.2rem;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 22, 0.87);
}
.post-ad, .showcase{
    box-shadow: 0px 2px 3px black;
    width: auto;
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: rgba(0, 0, 22, 0.87);
    color: #ddd;
}


select {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid rgb(14, 64, 114);
    cursor: pointer;
    background: dodgerblue;
    height:auto;
    width: 200px;
    font-size: 1rem;
}

select option {
    padding: 1rem auto;
    border: 1px solid #ccc;;
    cursor: pointer;
    margin: 0.5rem;
}
.input-detail{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}
.input-detail label {
    margin: 8px;
}
.input-detail select , .input-detail input {
    width: 500px;
}
.input-detail input[type="text"]{
    padding: 0.7rem;
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    color: #ddd;
    font-size: 1.2rem;
}
.input-detail button{
    border: none;
    padding: 1rem;
    background: transparent;
    cursor: pointer ;
    color: #ddd;
    border: 2px solid #fff;
    width: 250px;
    margin: 50px auto;
    font-size: 1rem;
    font-weight: bolder;
}
.input-detail .btn-danger{
    border: 2px solid red;
    
}

/*Showcase */
.showcase{
    min-height: 100vh;
    justify-content: flex-start;
    margin: 20px auto;
    width: 90%;
    background: #fff;
    color: rgba(0, 0, 22, 0.87);
    box-shadow: none;
    
}
.showcase .big-img {
    margin: 0 auto;
}
.ads{
    margin: 80px  auto;
    width: auto;
    box-shadow: 0px 0px 4px rgba(0, 0, 22, 0.87);
    border-radius: 6px;
    padding: 2.6rem;
}
.btn-div{
    display: flex;
    flex-direction: row;
}
/*images */
.big-img{
    width: 100%;
    
}
.small-img {
    width: 300px;
    margin: 0px auto;
}

/* All modal*/

.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: all ease-in 3s;
}
.modal .post-ad{
    width: 600px;
}
/* Close button */
.close {
    color: #ddd;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*filter bar*/
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0.7rem;
    flex-direction: row;
    justify-content:center;
    background: rgb(1, 1, 49);
    height: auto;
    width: 100%;
    color: #ddd
}
.filter-options{
    background:rgb(1, 1, 49);
    border: none;
    border-bottom: 1px solid dodgerblue;
    outline: none;
    padding: 0;
}
.option input{
    padding: 0.7rem;
    background: inherit;
    color: #ddd;
    border: 1px solid #ddd;
    outline: none
}

.row .btn-default{
    color: #fff;
    width: 70px;
}

.row *{
    margin: 0.5rem 0.3rem;
}

/* MarketPlace */

.marketplace{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 0.3rem;
}
.products {
    width: 400px;
    margin: 0.3rem;
    padding: 1rem;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 1px 1px 3px #333;
}
.products p {
    font-weight: bolder;
}
.products .btn-primary, .products .btn-default{
    text-align: center;
}

#report{
    width: 100px;
    margin-left: 0;
}
.flag{
    background: dodgerblue;
    color: rgba(0, 0, 22, 0.87);
}

.orders{
    height: auto;
}


@media (max-width: 760px){
    .header{
        background-size:cover;
        background-position: center;
        background: linear-gradient(to right, rgba(1, 1, 66, 0.479), rgba(1, 1, 54, 0.534), rgba(0, 0, 68, 0.554)), url('/UI/images/asphalt-auto-automobile-164634\ \(1\).jpg') no-repeat;
        height: 100vh;
        padding: 1rem;
    }

    .account{
        width: auto
    }
   
    .input-detail select , .input-detail input {
        width: auto
    }
    .modal .post-ad{
        width: auto
    }
}

@media (max-width: 360px){
    .big-text{
        height: 50vh;
    }
    .big-text h1{
        font-size: 20px;
        color: #ddd;
    }
    .big-text .btn-secondary{
        font-size: 20px;
        margin: 10px;
        padding: 1rem;
        border-radius: 5px;
        transition: all 2s;
    }
    .account{
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        box-shadow: 0px 0px 3px #333;
        padding: 1.5rem;
        height: auto;
        width: auto;
        font-size: 10px;
    }

    legend{
        font-size: 18px;
    }
    .input-labels input {
        margin: 2px;
        font-size: 0.3rem;
        padding: 0.2rem;
        border: none;
        outline: none;
        border-bottom: 2px solid rgba(0, 0, 22, 0.87);
    }

    .input-labels .btn-primary{
        padding: 7px;
    }
    .input-detail select , .input-detail input{
        width: 150px;
    }

    .input-detail button{
        width: auto;
    }
    .big-img{
        width: 100%;
    }
    .row{
        justify-content: left;
    }
}


