*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

/*global*/

a{
    text-decoration: none
}
input[type="file"]::-webkit-file-upload-button{
    border: none;
    cursor: pointer;
    border: 2px solid dodgerblue;
    padding: 0.8rem;
    background: transparent;
    color: #fff
}

/*buttons */

.btn-secondary{
    color: #ddd;
    border: 2px solid rgb(194, 191, 191);
    padding: 1rem;
}

.btn-primary{
    border: none;
    background: rgba(0, 0, 22, 0.87);
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
}

.btn-default{
    color: rgba(0, 0, 22, 0.87);
    border: 2px solid dodgerblue;
}

/*navbar */

nav{
    background: rgba(0, 0, 22, 0.87);
    height: 70px;
    padding: 0.5rem;
    width: 100%;
}

/*landing page */
.header{
    background-size:cover;
    background-position: center;
    background: linear-gradient(to right, rgba(1, 1, 66, 0.479), rgba(1, 1, 54, 0.534), rgba(0, 0, 68, 0.554)), url('/UI/images/auto-auto-racing-automobile-235222.jpg') no-repeat;
    height: 100vh;
    padding: 1rem;
}
.logo{
    font-size: 2rem;
    margin: 20px;
    color: #ddd;
    
}
.icon{
    color: dodgerblue;
}

/*Big-text*/

.big-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
}
.big-text h1{
    font-size: 50px;
    color: #ddd;
}

.big-text .btn-secondary{
    font-size: 30px;
    margin: 30px;
    padding: 1.3rem;
    border-radius: 5px;
    transition: all 2s;
}
.big-text .btn-secondary:hover{
    border: 3px solid dodgerblue;
    color: dodgerblue
}

/*account form */
.account{
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #333;
    padding: 2.5rem;
    height: auto;
    width: 400px;
    font-size: 15px;
}
.input-labels{
    display:flex;
    flex-direction: column;
    margin: 5px;
    
}
.others a {
    color: dodgerblue;
}
legend{
    font-size: 25px;
    font-weight: bold;
    padding: 0.8rem auto
}
hr{
    width: 100%;
    color: rgba(0, 0, 22, 0.87);
}

.input-labels input {
    margin: 8px;
    font-size: 1rem;
    padding: 0.2rem;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 22, 0.87);
}
.post-ad{
    box-shadow: 0px 2px 3px black;
    width: 60%;
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: rgba(0, 0, 22, 0.87);
    color: #ddd;
}


select {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid rgb(14, 64, 114);
    cursor: pointer;
    background: dodgerblue;
    width: 200px;
    font-size: 1rem;
}

select option {
    padding: 1rem auto;
    border: 1px solid #ccc;;
    cursor: pointer;
    margin: 0.5rem;
}
.input-detail{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}
.input-detail label {
    margin: 8px;
}
.input-detail select , .input-detail input {
    width: 500px;
}
.input-detail input[type="text"]{
    padding: 0.7rem;
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    color: #ddd;
    font-size: 1.2rem;
}
.input-detail button{
    border: none;
    padding: 1rem;
    background: transparent;
    cursor: pointer ;
    color: #ddd;
    border: 2px solid #fff;
    width: 250px;
    margin: 50px auto;
    font-size: 1rem;
    font-weight: bolder;
}



@media (max-width: 760px){
    .header{
        background-size:cover;
        background-position: center;
        background: linear-gradient(to right, rgba(1, 1, 66, 0.479), rgba(1, 1, 54, 0.534), rgba(0, 0, 68, 0.554)), url('/UI/images/asphalt-auto-automobile-164634\ \(1\).jpg') no-repeat;
        height: 100vh;
        padding: 1rem;
    }

    .account{
        width: auto
    }
   
    .input-detail select , .input-detail input {
        width: auto
    }
   
}

@media (max-width: 360px){
    .big-text{
        height: 50vh;
    }
    .big-text h1{
        font-size: 20px;
        color: #ddd;
    }
    .big-text .btn-secondary{
        font-size: 20px;
        margin: 10px;
        padding: 1rem;
        border-radius: 5px;
        transition: all 2s;
    }
    .account{
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        box-shadow: 0px 0px 3px #333;
        padding: 1.5rem;
        height: auto;
        width: auto;
        font-size: 10px;
    }

    legend{
        font-size: 18px;
    }
    .input-labels input {
        margin: 2px;
        font-size: 0.3rem;
        padding: 0.2rem;
        border: none;
        outline: none;
        border-bottom: 2px solid rgba(0, 0, 22, 0.87);
    }

    .input-labels .btn-primary{
        padding: 7px;
    }
    .input-detail select , .input-detail input{
        width: 150px;
    }

    .input-detail button{
        width: auto;
    }
    
}


